.Header
  .Left-box
    = link_to '#' do
      G-TWEET
  .Right-box
    .Login
      = link_to '#' do
        Login
    .Signup
      = link_to '#' do
        Signup
.Container
  %h1.Text Let's tweet!
.Footer
  (@)g-tweet
  
  