.Contents-row {
   padding: 20px;
  .Form-container{
    width: 520px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 3px;
    .Tittle {
      margin-top: 10px;
      font-size: 20px;
      color: gray;
    }
    input {
      width: 500px;
      height: 60px;
      margin-top: 10px;
      display: block;
      font-size: 20px;
    }
    textarea {
      width: 500px;
      margin-top: 10px;
      font-size: 20px;
    }
  }
}

