.Search-result {
  width: 500px;
  padding: 10px;
  margin: 10px auto;
  border: 3px solid gray;
  border-radius: 3px;
  .search-form {
    height: 50px;
    width: 450px;
    padding: 5px;
    margin: 10px auto;
    background-color: #d8eee9;
    .search-input{
      height: 40px;
      width: 85%;
    }
    .search-btn {
      height: 40px;
      width: 50px;
    }
  }
  .Message-box {
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    .Tweet-text {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .Tweet-time {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .Tweet-menu {
      height: 40px;
      width: 150px;
      float: bottom;
      display: flex;
      justify-content: space-between;
    }
  }
}