 .Form-contents{
   width: 520px;
   padding:5px;
   margin: 20px auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   border: 2px solid gray;
   border-radius: 3px;
   .Form-tittle {
    margin: 10px;
    font-size: 20px;
    color: gray;
   }
   input {
    width: 510px;
    height: 60px;
    margin-top: 10px;
    display: block;
    font-size: 20px;
  }
  textarea {
    width: 500px;
    margin-top: 10px;
    font-size: 20px;
  }
}
