.Main-contents {
  width: 620px;
  margin: 10px auto;
  border: 3px solid gray;
  .User-info {
    width: 600px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid gray;
    text-align: center;
    .User-image {
      height: 90px;
      width: 90px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid black;
    }
    .Edit-icon {
      color: gray;
    }
  }
  .Post-index {
    height: calc( 100vh - 80px - 50px);
    width: 600px;
    margin: 0 auto;
    overflow: scroll;
    .Post-tittle {
      padding: 10px;
      text-align: center;
      border-bottom: 3px solid gray;
    }
    .Tweet-box {
      height: 150px;
      width: 100%;
      padding:15px;
      border-bottom: 1px solid gray;
      overflow: scroll;
      .User-tweet {
        font-size: 20px;
        margin-bottom: 15px;
      }
      .Tweet-time{
        font-size: 15px;
      }
    }
    .Edit-menu {
      height: 20px;
      width: 100px;
      margin-top: 20px;
      float: bottom;
      display: flex;
      justify-content: space-between;
      color: gray;
    }
  }
}